/*
 *
 * Default CSS presenting a default CuteMenu CSS
 */

.cutemenu-bar {
  display: block;
}


.cutemenu-baritem {
  float: left;
  display: block;
  margin: 0px 20px;
  padding: 0px;
  height: 30px;
  color: #eeeeee;
}
.cutemenu-active {
  color: white;
}
.cutemenu-baritem-left {
  display: block;
  margin: 0;
  padding: 0 0 0 11px;
  background: url(images/green-button-left.png) no-repeat 0 0;
}
.cutemenu-baritem-right {
  display: block;
  margin: 0;
  padding: 0 11px 0 0;
  background: url(images/green-button-right.png) no-repeat 100% 0;
}
.cutemenu-baritem-content {
  display: block;
  background: url(images/green-button-center.png) repeat-x 0 0;
  margin: 0px;
  padding: 4px 9px 0;
  height: 30px;
  font-size: 15px;
}

.cutemenu-baritem-content .cutemenu-link {
  display: block;
  color: #eeeeee;
  text-decoration: none;
}
.cutemenu-baritem-content .cutemenu-link:hover {
  display: block;
  color: white;
  text-decoration: none;
}
.cutemenu-baritem a {
  display: block;
}

/* By default, hide the sub-menus, these are dropdowns */
.cutemenu-dropdown-wrapper {
  position: absolute;
  margin: 5px 0 0 0;
  display: none;
  z-index: 10;
  text-align: left;
}

.cutemenu-dropdown-topleft {
  display: block;
  padding-left: 11px;
  background: url(images/green-dropdown-topleft-square.png) no-repeat 0 0;
  height: 11px;
}

.cutemenu-dropdown-top {
  display: block;
  background: url(images/green-dropdown-top.png) repeat-x 0 0;
  height: 11px;
}

.cutemenu-dropdown-topright {
  display: block;
  padding-right: 11px;
  background: url(images/green-dropdown-topright.png) no-repeat 100% 0;
  height: 11px;
}

.cutemenu-dropdown-bottomleft {
  display: block;
  padding-left: 11px;
  background: url(images/green-dropdown-bottomleft.png) no-repeat 0 0;
  height: 11px;
}
.cutemenu-dropdown-bottom {
  display: block;
  background: url(images/green-dropdown-bottom.png) repeat-x 0 0;
  height: 11px;
}
.cutemenu-dropdown-bottomright {
  display: block;
  padding-right: 11px;
  background: url(images/green-dropdown-bottomright.png) no-repeat 100% 0;
  height: 11px;
}

.cutemenu-dropdown-left {
  margin: 0px;
  padding: 0px;
}

.cutemenu-dropdown-content {
  display: block;
  background: #cfec93 url(images/green-dropdown-center.png) repeat-x 0 0;
  min-height: 300px;
  border-left: 1px #797979 solid;
  border-right: 1px #797979 solid;
  margin: 0px;
  padding: 5px 10px;
}

.cutemenu-title {
  padding: 5px 0;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  border-bottom: 1px #e0eecc solid;
  color: #000066;
}


.cutemenu-subitem {
  padding: 5px 0;
  height: 20px;
  font-size: 10px;
  border-bottom: 1px #e0eecc solid;
}
.cutemenu-subitem-active {
  background: url(images/white-gradient.png) repeat-x 0 0;
}

.cutemenu-subitem .cutemenu-link {
  display: block;
  margin: 0;
  padding: 0 10px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.cutemenu-subitem .cutemenu-link:hover {
  display: block;
  color: #884400;
  text-decoration: none;
}



.cutemenu-dropdown-header {
  padding: 0px;
  margin: 0px;
  min-height: 50px;
}
.cutemenu-dropdown-header p {
  padding: 0px;
  margin: 0px;
}
.cutemenu-dropdown-footer {
  padding: 0px;
  margin: 0px;
}
.cutemenu-dropdown-footer p {
  padding: 0px;
  margin: 0px;
}
